body{
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}
.login_form{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    width: 250px;
    background: white;
    display: grid;
    place-items: center;
    align-items: center;
    vertical-align:center;
    border-radius: 2px;
    border: #95959a 1px solid;
}

.login_form input{
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border: #95959a 1.5px solid;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    text-align: center;
    horiz-align: center;
    font-size: 16px;
}

.login_form input[type=submit]{
    background-color: rgb(110, 205, 150);
    cursor: pointer;
    color: #ffffff;
    width: 100%;
    transition: all 1s;
}
.login_form input[type=submit]:hover{
    color: #95959a;
}

.login_form a{
    font-size: 12px;
    padding: 10px;
    transition: color 2s;
    color: rgb(101, 101, 114);
}
.login_form a:hover{
    color: rgb(110, 205, 150);
}

.errorMassage{
    display: none;
    font-size: 12px;
    text-align: center;
    color: rgb(166, 19, 8);
    font-family: 'Open Sans', sans-serif;
}

.errorMassage.show{
    display: block;
}

.logo_container{
    background: #c2c2c2;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    transform: translateY(-60px);
    margin-bottom: -50px;
    border: #95959a 1px solid;
}
.logo_container img{
    justify-content: center;
    vertical-align: center;
    align-items: center;
    height: 60px;
    margin: auto;
    padding: 5px;
}